<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
        <menu>
          <add id="Shippify_ShippifyMagento::greetings" title="Shippify" translate="title" module="ShippifyMagento" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="ShippifyMagento" resource="Shippify_ShippifyMagento::greetings"/>
          <add id="Shippify_ShippifyMagento::greetings_helloworld" title="Panel" translate="title" module="ShippifyMagento" parent="Shippify_ShippifyMagento::greetings" sortOrder="10" dependsOnModule="ShippifyMagento" action="ShippifyMagento/shippify" resource="Shippify_ShippifyMagento::greetings"/>
        </menu>
</config>
  