<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
        <carriers>
            <shippify>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
				<model>ShippifyModule\Shipping\Model\Carrier\Shippify</model>
                <name>Shippify2</name>
                <price>10.00</price>
                <title>Shippify</title>
               <specificerrmsg>Shippify is not available for your area. Please contact us.</specificerrmsg>
            </shippify>
            <!-- carrier-config -->
        </carriers>
    </default>
</config>
